body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
    text-align: center;
}

div.algorithmSelection {
    width: 300px;

}

div.sortInput {
    width: 900px;
}

textarea {
    width: 800px;
    height: 200px;
}

tr.middleRow {
    width: 900px;
    height: 100px;
}