<!doctype html>
<html ng-app="algorithmApp">
<head>
    <meta charset="utf-8">
    <title>Compare Sort Algorithms</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
    <script src="javascripts/algorithmController.js" ></script>
</head>

<body ng-controller="AlgorithmController">
    <div class="bodyDiv">
        <h1>Compare Sort Algorithms</h1>
        
        <table>
            <tr>
                <td> 
                    <table>
                        <tr>
                            <td>
                                <div class="algorithmSelection">
                                    <h3>Select type of sort:</h3>
                                    <input type="checkbox" name="bubbleSort" ng-model="typeOfAlgorithm.bubble">Bubble sort<br />
									<input type="checkbox" name="selectionSort" ng-model="typeOfAlgorithm.selection">Selection sort<br/>
									<input type="checkbox" name="insertionSort" ng-model="typeOfAlgorithm.insertion">Insertion sort<br/>
                                    <input type="checkbox" name="mergeSort" ng-model="typeOfAlgorithm.merge">Merge sort<br/>
									<input type="checkbox" name="quickSort" ng-model="typeOfAlgorithm.quick">Quick sort
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="dataTypeSelection">
                                    <h3>Select data type</h3>
                                    <input ng-model="dataType" type="radio" name="sortDataType" value="String">String<br>
                                    <input ng-model="dataType" type="radio" name="sortDataType" value="Integer">Integer
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="eliminateDuplicate">
                                    <h3>Eliminate duplicate</h3>
                                    <input ng-model="eliminateDuplicate" type="radio" name="eliminateDuplicate" value="true">Yes<br>
                                    <input ng-model="eliminateDuplicate" type="radio" name="eliminateDuplicate" value="false">No
                                </div>
                            </td>
                        </tr>
						<tr>
							<td>
								<div class="numberOfTrials">
									<h3>Number of trials</h3>
										<input type=text id="numberOfTrials" name="numberOfTrials" ng-model="numberOfTrials" size="5"></input>
								</div>
							</td>
						</tr>
                    </table>
                </td>
                <td>
                    <div class="sortInput">
                        <h3>Input: </h3><br>
                        <textarea id="sortInput" name="sortInput" ng-model="sortInput" placeholder="Sort input"></textarea>
                    </div>
                </td>
            </tr>
            <tr class="middleRow">
                <td>
					<button ng-click="performSort()">Sort</button>
					
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
					<table>
						<h3>Timings</h3>
						<tr>
							<td>
								Bubble sort : {{sortTimings.bubble}} <b><font color=green>{{sortTimings.bubbleDone}}</font></b><br>
								Selection sort : {{sortTimings.selection}} <b><font color=green>{{sortTimings.selectionDone}}</font></b><br>
								Insertion sort : {{sortTimings.insertion}} <b><font color=green>{{sortTimings.insertionDone}}</font></b><br>
								Merge sort : {{sortTimings.merge}} <b><font color=green>{{sortTimings.mergeDone}}</font></b><br>
								Quick sort : {{sortTimings.quick}} <b><font color=green>{{sortTimings.quickDone}}</font></b>
							</td>
						</tr>
						<tr>
							<td>
								<button ng-click="resetSort()">Reset</button>
							</td>
						</tr>
					</table>
                </td>
                <td>
                    <div class="sortOutput">
                        <h3>Sorted Output: </h3><br>
						<table>
							<tr>
								<td colspan="2">
                        			<textarea id="sortOutput" name="sortOutput" ng-model="sortOutput" placeholder="Sort output"></textarea>
								</td>
							</tr>
							<tr>
								<td>
									Total word count : {{totalWordCount}}
								</td>
								<td>
									Unique word count : {{uniqueWordCount}}
								</td>
							</tr>
						</table>
                    </div>
                </td>
            </tr>
        </table>
        
    </div>
</body>
</html>